.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 5px;
}

.info {
    background-color: pink;
    width: 300px;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 3px #d3d3d3;
}

@media only screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}