.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.headers {
    font-size: 12px;
}

@media only screen and (min-width: 1024px) {
    .headers {
        font-size: 14px;
    }
}