.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0px;
    gap: 5px;
}

.info {
    background-color: #22577a;
    height: 100px;
    width: 300px;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 3px #d3d3d3;
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #293241;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

.header {
    display: flex;
    justify-content: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}